._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-gov-etracs-rptis-landtax-province/nbproject/private/
/client/rameses-gov-etracs-rptis-province/nbproject/private/
/client/rameses-gov-etracs-rptis-transmittal/nbproject/private/
/client/rameses-gov-etracs-rptis-transmittal/build/
/client/rameses-gov-etracs-rptis-transmittal/dist/
/client/rameses-gov-etracs-rptis-province/build/
/client/rameses-gov-etracs-rptis-province/dist/
/client/rameses-gov-etracs-rptis-landtax-province/build/
/client/rameses-gov-etracs-rptis-landtax-province/dist/