._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-gov-etracs-rptis-landtax-province/nbproject/private/
/client/rameses-gov-etracs-rptis-province/nbproject/private/
/client/rameses-gov-etracs-rptis-transmittal/nbproject/private/
/client/rameses-gov-etracs-rptis-transmittal/build/
/client/rameses-gov-etracs-rptis-transmittal/dist/
/client/rameses-gov-etracs-rptis-province/build/
/client/rameses-gov-etracs-rptis-province/dist/
/client/rameses-gov-etracs-rptis-landtax-province/build/
/client/rameses-gov-etracs-rptis-landtax-province/dist/
_build
/client/rameses-gov-etracs-rptis-report/dist/
/client/rameses-gov-etracs-rptis-landtax/dist/
/client/rameses-gov-etracs-rptis-landtax-report/dist/
/client/rameses-gov-etracs-rptis-municipality/dist/
/client/rameses-gov-etracs-rptis-sync/nbproject/private/
/client/rameses-gov-etracs-rptis-sync/dist/
/client/rameses-gov-etracs-rptis-sync/build/
/client/rameses-gov-etracs-rptis/build/
/client/rameses-gov-etracs-rptis/dist/
/obo/client/rameses-gov-etracs-rptis-obo/nbproject/private/
/obo/client/rameses-gov-etracs-rptis-obo/build/
/obo/client/rameses-gov-etracs-rptis-obo/dist/
/client/rameses-gov-etracs-rptis-sync2/nbproject/private/
/client/rameses-gov-etracs-rptis-sync2/build/
/client/rameses-gov-etracs-rptis-sync2/dist/